if status is-interactive
    # Commands to run in interactive sessions can go here
end
starship init fish | source

{{ if eq .chezmoi.os "darwin" }}

# fish
source ~/.iterm2_shell_integration.fish

# pnpm
if not string match -q -- $PNPM_HOME $PATH
set -gx PNPM_HOME "/Users/ahad/Library/pnpm"
  set -gx PATH /Users/ahad/.bin "$PNPM_HOME" $PATH
end

{{ end }}
